[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/blog"]
	path = themes/blog
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
